html
    scroll-behavior: smooth

.body
    min-height: 100vh
    display: flex
    flex-direction: column
    font-family: "Inter", sans-serif
    font-style: normal
    font-weight: 400

*
    box-sizing: border-box

.container
    max-width: 1440px
    margin: 0 auto
    padding: 0
    // &__prices
    //     max-width: 1440px
    //     margin: 0 auto

.main
    flex: 1 1 auto

.header
    background: #EDF2EC
    &__wrapper
        // height: 134px
        padding: 42px 109px
        display: flex
        justify-content: space-around
        align-items: center
        // margin: 0 110px
    &__logo
        position: relative
        display: flex
        justify-content: flex-start
        flex: 1
        margin-left: 25px
        font-family: 'Inika'
        font-style: normal
        font-weight: 400
        font-size: 16px
        line-height: 21px
        &:before
            content: ""
            position: absolute
            top: -3px
            left: -20px
            width: 20px
            height: 20px
            background-size: 20px 20px
            background-image: url(../icons/logo_vector.svg)
    &__nav
        display: flex
        justify-content: space-between
        ul
            margin: 0


.navigation 
    display: flex
    &__link 
        align-items: center
        list-style: none
        margin-left: 46px
        cursor: pointer
        font-family: 'Inika'
        font-style: normal
        font-weight: 400
        font-size: 16px
        line-height: 50px
        a
            text-decoration: none
            color: #010201
            &:hover
                color: #E06733
                font-weight: 700
    ul
        &.navigation
            margin: 0px

.welcome
    // padding: 62px 109px
    background: #EDF2EC
    // min-height: 532px
    &__wrapper
        display: flex
        // flex-wrap: nowrap
        // align-items: center
        justify-content: space-between
        padding: 62px 109px 55px 109px
        max-height: 532px
    &__image
        max-width: 100%
    &__leaf
        display: block
        width: 50%
    &__content
        // display: block
        max-width: 549px
    &__title
        font-family: 'Inter'
        font-style: normal
        font-weight: 700
        font-size: 45px
        line-height: 50px
        color: #717171
        margin-top: 38px
        span
            color: #499A18
    &__text
        font-family: 'Inter'
        font-style: normal
        font-weight: 400
        font-size: 20px
        line-height: 35px
        color: #636060
        margin-top: 42px
        // width: 550px
    &__button
        width: 158px
        height: 44px
        border: 2px solid #E06733
        border-radius: 10px
        font-family: 'Inter'
        font-style: normal
        font-weight: 400
        font-size: 16px
        line-height: 20px
        background: #EDF2EC
        margin-top: 28px
        transition: 0.4s ease
        &:hover
            background-color:#E06733
            cursor: pointer
    form
        width: 158px
        height: 44px
        text-decoration: none
        transition: color 0.5s

.about
    padding: 93px 109px
    background: #FFFFFF
    min-height: 666px
    &__wrapper
        display: flex
        flex-wrap: nowrap
        justify-content: space-between
        align-items: center
    &__plant
        display: block
        width: 50%
    &__content
        display: block
        max-width: 605px
    &__image
        max-width: 100%
        margin-left: 153px
    &__title
        margin-block-start: 0
        margin-block-end: 0
        font-family: 'Inika'
        font-style: normal
        font-weight: 400
        font-size: 40px
        line-height: 52px
        color: #499A18
        width: 463px
        
        span
            color: #E06733
    &__text
        font-family: 'Inter'
        font-style: normal
        font-weight: 400
        font-size: 20px
        line-height: 30px
        color: #636060
        width: 605px
        margin-block-start: 0
        margin-block-end: 0
        margin-top: 39px


.service
    padding: 40px 66px 119px
    background: #EDF2EC
    // min-height: 1300px
    &__wrap1
        padding-left: 43px
        max-width: 1007px
        display: flex
        flex-wrap: nowrap
        justify-content: space-between
        align-items: center
        &__title
            max-width: 306px
            margin-block-start: 0
            margin-block-end: 0
            font-family: 'Inika'
            font-style: normal
            font-weight: 400
            font-size: 40px
            line-height: 52px
            color: #499A18
        &__buttons
            // margin-left: 30px
            display: flex
            flex: flex-start
            button
                width: 161px
                height: 50px
                left: 557px
                top: 69px
                border: 1px solid #E06733
                border-radius: 5px
                font-family: 'Inika'
                font-style: normal
                font-weight: 400
                font-size: 20px
                line-height: 26px
                color: #E06733
                background: none
                margin-left: 38px
                form
                    text-decoration: none
                    width: 161px
                    height: 50px
                    transition: color 0.5s
                &:hover
                    color: #E06733
                    font-weight: 700
    &__wrap2
        display: flex
        flex-wrap: wrap
        &__item
            padding: 0 58.5px
            margin-top: 55px
            margin-right: -30px
            img
                width: 330px
                height: 450px
                border-radius: 20px
            figure
                max-height: 450px
                margin-block-start: 0
                margin-block-end: 0
                margin-inline-start: 0
                margin-inline-end: 0
            figcaption
                position: relative
                top: -100px
                width: 330px
                height: 100px
                border: 1px solid #E3E1D5
                border-radius: 0px 0px 20px 20px
                background: #EDF2EC
            &__header
                text-align: center
                font-family: 'Inter'
                font-style: normal
                font-weight: 700
                font-size: 20px
                line-height: 20px
                color: #E06733
            &__subheader
                text-align: center
                font-family: 'Inter'
                font-style: normal
                font-weight: 400
                font-size: 16px
                line-height: 20px
                color: #717171

.prices
    padding: 32px 109px 115px
    background: #FFFFFF
    &__generalwrap
        display: flex
        justify-content: space-between
    &__title
        font-family: 'Inter'
        font-style: normal
        font-weight: 700
        font-size: 40px
        line-height: 48px
        color: #000000
        span
            color: #499A18
        &__2
            text-align: right
            font-family: 'Inter'
            font-style: normal
            font-weight: 700
            font-size: 40px
            line-height: 48px
            color: #000000
    &__wrap1
        &__item
            margin-top: 80px
            width: 332px
            height: 282px
            border: 1px solid #E3E1D5
            border-radius: 20px
            padding: 10px 41px 0px 41px
            img
                margin-bottom: 28px
    &__wrap2
        display: flex
        flex-direction: column
        align-items: end
        &__button
            margin-top: 9px
            width: 161px
            height: 50px
            border: 1px solid #E06733
            border-radius: 5px
            font-family: 'Inika'
            font-style: normal
            font-weight: 400
            font-size: 20px
            line-height: 26px
            color: #E06733
            background: none
            form
                display: inline
                text-decoration: none
                width: 161px
                height: 50px
                transition: color 0.5s
            &:hover
                background-color: #E06733
                color: #FFFFFF
                font-weight: 700
        &__image
            margin-top: 39px

.contacts
    padding: 53px 109px 0px
    background: #FFFFFF
    min-height: 550px
    background: #EDF2EC
    &__wrap1
        display: flex
        justify-content: space-between
        &__title
            font-family: 'Inika'
            font-style: normal
            font-weight: 700
            font-size: 40px
            line-height: 52px
            color: #499A18
            margin: 0
        &__item-3
            margin-top: 95px

    
.footer
    min-height: 130px
    &__wrap1
        display: flex
        justify-content: space-around
        align-items: center
        min-height: 130px
        div
            font-family: 'Inter'
            font-style: normal
            font-weight: 400
            font-size: 20px
            line-height: 50px
            color: #000000
            a
                text-decoration: none
                &:active
                    color: inherit
            ul
                margin: 0 auto
            li
                list-style: none
                display: inline-block
    &__social
        &__item
            margin-right: 30px





 


