html
    scroll-behavior: smooth

.body
    min-height: 100vh
    display: flex
    flex-direction: column
    font-family: "Inter", sans-serif
    font-style: normal
    font-weight: 400

@import "mixins"

*
    box-sizing: border-box

.container
    max-width: 1242px
    margin: 0 auto
    padding: 0 10px
    @media (max-width: 768px)
        padding: 0 50px

.main
    flex: 1 1 auto

.header
    background: #EDF2EC
    &__wrapper
        padding: 52px 0 42px
        display: flex
        justify-content: space-around
        +media-tablet
            padding: 30px 0
    &__logo
        position: relative
        padding-left: 29px
        padding-top: 10px
        // display: flex
        // justify-content: flex-start
        flex: 1
        margin-left: 0px
        font-family: 'Inika'
        font-style: normal
        font-weight: 400
        font-size: 16px
        line-height: 21px
        &:before
            content: ""
            position: absolute
            top: 7px
            left: 7px
            width: 20px
            height: 20px
            background-size: 20px 20px
            background-image: url(../icons/logo_vector.svg)

.navigation 
    display: flex
    &__link 
        align-items: center
        list-style: none
        margin-top: -4px
        margin-left: 47px
        cursor: pointer
        font-family: 'Inika'
        font-style: normal
        font-weight: 400
        font-size: 16px
        line-height: 50px
        // &:first-child
        //     margin-left: 0px
        a
            text-decoration: none
            color: #010201
            &:hover
                color: #E06733
                font-weight: 700
    ul
        &.navigation
            // margin: 0px


.welcome
    background: #EDF2EC
    &__wrapper
        display: flex
        flex-direction: row-reverse
        justify-content: space-between
        padding: 62px 0 55px 0
        @media (max-width: 768px)
            padding: 40px 0 70px 0
    &__image
        // max-width: 100%
    &__leafs
        // display: block
        img
            max-width: 100%
            max-height: 100%
    &__content
        max-width: 549px

        @media (max-width: 768px)
            max-width: 341px           
    &__title
        font-family: 'Inter'
        font-style: normal
        font-weight: 700
        font-size: 45px
        line-height: 50px
        color: #717171
        margin-top: 38px
        span
            color: #499A18
        @media (max-width: 768px)
            font-size: 35px
            margin-top: 0
    &__text
        font-family: 'Inter'
        font-style: normal
        font-weight: 400
        font-size: 20px
        line-height: 35px
        color: #636060
        margin-top: 42px
        @media (max-width: 768px)
            font-size: 16px
            margin-top: 30px
            line-height: 25px
    &__button
        width: 158px
        height: 44px
        border: 2px solid #E06733
        border-radius: 10px
        font-family: 'Inter'
        font-style: normal
        font-weight: 400
        font-size: 16px
        line-height: 20px
        background: #EDF2EC
        margin-top: 48px
        transition: 0.4s ease
        &:hover
            background-color:#E06733
            cursor: pointer
        @media (max-width: 768px)
            margin-top: 30px

    form
        width: 158px
        height: 44px
        text-decoration: none
        transition: color 0.5s

.about
    background: #FFFFFF
    &__wrapper
        display: flex
        justify-content: space-between
        align-items: center
        padding: 96px 0px 88px
        +media-tablet
            padding: 40px 0px 95px
            flex-wrap: wrap
            justify-content: center
    &__plant
        +media-tablet
            width: 250px
            height: 258px
            margin-top: 40px
    &__content
        padding-left: 7px
        +media-tablet
            padding-left: 0px
            display: flex
            justify-content: center
            flex-wrap: wrap
    &__image
        max-width: 100%
        max-height: 100%    
    &__title
        margin-block-start: 0
        margin-block-end: 0
        font-family: 'Inika'
        font-style: normal
        font-weight: 400
        font-size: 40px
        line-height: 52px
        color: #499A18
        width: 463px
        span
            color: #E06733
        +media-tablet
           font-size: 35px 
           line-height: 45px
           text-align: center
           margin-right: 0px
    &__text
        font-family: 'Inter'
        font-style: normal
        font-weight: 400
        font-size: 20px
        line-height: 30px
        color: #636060
        width: 605px
        margin-block-start: 0
        margin-block-end: 0
        margin-top: 39px


.service
    padding: 40px 0 66px 0
    background: #EDF2EC
    +media-tablet
        padding: 60px 0 70px 0
    &__wrap1
        max-width: 1007px
        display: flex
        // justify-content: space-between
        align-items: center
        flex-wrap: wrap
        margin-bottom: 27px
        &__title
            margin: 0
            margin-right: 114px
            max-width: 306px
            font-family: 'Inika'
            font-style: normal
            font-weight: 400
            font-size: 40px
            line-height: 52px
            color: #499A18
            +media-tablet
                font-size: 35px
                line-height: 45px 
        &__buttons
            display: flex
            button
                width: 161px
                height: 50px
                left: 557px
                top: 69px
                border: 1px solid #E06733
                border-radius: 5px
                font-family: 'Inika'
                font-style: normal
                font-weight: 400
                font-size: 20px
                line-height: 26px
                color: #E06733
                background: none
                margin-left: 38px
                form
                    text-decoration: none
                    width: 161px
                    height: 50px
                    transition: color 0.5s
                +media-tablet
                    margin: 40px 38px 0 0
                &:hover
                    color: #E06733
                    font-weight: 700
    &__wrap2
        padding-top: 53px
        display: flex
        flex-wrap: wrap
        margin: 0 -59px
        &__item
            padding: 0 58px
            margin-bottom: 55px
            +media-tablet
                padding: 0 25px
            img
                // width: 100%
                border-radius: 20px 20px 0px 0px
                object-fit: cover
                max-width: 100%
            &__header
                // text-align: center
                margin-top: 10px
                font-family: 'Inter'
                font-style: normal
                font-weight: 700
                font-size: 20px
                line-height: 20px
                color: #E06733
            &__subheader
                // text-align: center
                margin-top: 12px
                font-family: 'Inter'
                font-style: normal
                font-weight: 400
                font-size: 16px
                line-height: 20px
                color: #717171
.item-info
  text-align: center
  padding-bottom: 36px
  border: 1px solid #E3E1D5
  border-radius: 0px 0px 20px 20px

.prices
    padding: 38px 0 110px 0
    background: #FFFFFF
    &__generalwrap
        display: flex
        justify-content: space-between
    &__title
        font-family: 'Inter'
        font-style: normal
        font-weight: 700
        font-size: 40px
        line-height: 48px
        color: #000000
        &__2
            text-align: right
            font-family: 'Inter'
            font-style: normal
            font-weight: 700
            font-size: 40px
            line-height: 48px
            color: #000000
            span
                color: #499A18
    &__wrap1
        &__item
            margin-top: 80px
            width: 332px
            height: 282px
            border: 1px solid #E3E1D5
            border-radius: 20px
            padding: 10px 41px 0px 41px
            img
                margin-bottom: 28px
    &__wrap2
        display: flex
        flex-direction: column
        align-items: end
        &__button
            margin-top: 40px
            width: 161px
            height: 50px
            border: 1px solid #E06733
            border-radius: 5px
            font-family: 'Inika'
            font-style: normal
            font-weight: 400
            font-size: 20px
            line-height: 26px
            color: #E06733
            background: none
            form
                display: inline
                text-decoration: none
                width: 161px
                height: 50px
                transition: color 0.5s
            &:hover
                background-color: #E06733
                color: #FFFFFF
                font-weight: 700
        &__image
            margin-top: 39px

.contacts
    padding-top: 53px
    background: #FFFFFF
    min-height: 550px
    background: #EDF2EC
    &__wrap1
        display: flex
        justify-content: space-between
        &__title
            font-family: 'Inika'
            font-style: normal
            font-weight: 700
            font-size: 40px
            line-height: 52px
            color: #499A18
            margin: 0
        // &__item-3
        //     margin-top: 95px

.contacts-list
    margin-top: 95px
    appearance: none
    padding-left: 20px
    font-weight: 400
    font-size: 20px
    line-height: 40px
    letter-spacing: 0.1em
    color: var(--grey-light)
    width: 450px
    height: 50px
    background: #D6E7D2
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25)
    background-image: url(../icons/accordion_btn.svg)
    background-repeat: no-repeat
    background-position: 399px 17px

.footer
    min-height: 130px
    &__wrap1
        display: flex
        justify-content: space-around
        align-items: center
        min-height: 130px
        div
            font-family: 'Inter'
            font-style: normal
            font-weight: 400
            font-size: 20px
            line-height: 50px
            color: #000000
            a
                text-decoration: none
                &:active
                    color: inherit
            ul
                margin: 0 auto
            li
                list-style: none
                display: inline-block
    &__social
        &__item
            margin-right: 30px





 


